header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #212121;
    border-bottom: 2px solid #212121;
    border-radius: 20px;
}

header h1 {
    cursor: pointer;
}

header .cart {
    cursor: pointer;
}

header .cart img {
    width: 20px;
    margin-right: 10px;
}