* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(196, 194, 192);
}

.app {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

*::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: #FFF;
}